<!DOCTYPE html>
<html>
  <head>
    <title>Marmoset</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'public', media: 'all' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag 'public' %>
  </body>
</html>
